$customBlue: #438797;
$customBlue2: #59A9B5;

body{
    background-color: #EFEFEF;
    font-family:'Courier New', Courier, monospace
}
*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
button{
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid $customBlue;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}
button:hover {
    background-color: $customBlue2;
}